.latest-posts {
	max-width: 1320px;
	margin: 0 auto;
	font-family: $playfair-font;
	display: flex;
	flex-direction: row;
	margin-bottom: 105px;

	h3 {
		text-transform: capitalize;
		margin-bottom: 16px;
	}

	.first {
		border-bottom: 1px solid $rose-pink;
	}

	.second {
		border-bottom: 1px solid $light-blue;
	}

	.third {
		border-bottom: 1px solid $green;
	}

	li {
		list-style: none;
		width: 400px;
		margin-right: 62px;

		button {
			position: relative;
			width: 103px;
			height: 40px;
			position: relative;
			float: right;
			margin-top: 43px;
			margin-bottom: 30px;
			margin-right: 33px;
			text-align: left;
		}

		p {
			font-size: 15px;
		}

		a {
			text-decoration: none;
			text-transform: uppercase;
			margin-bottom: 15px;
		}

		.photo_1,
		.photo_2,
		.photo_3 {
			display: inline-block;
			background-repeat: no-repeat;
			margin-bottom: 75px;
		} 

		.photo_1{
			width: 400px;
			height: 365px;
			background-position: center;
			background-image: url("../images/homepage/home-latest-1.jpg");
		}

		.photo_2{
			width: 400px;
			height: 365px;
			background-position: left top;
			background-size: cover;
			background-image: url("../images/homepage/home-latest-2.jpg");
		}

		.photo_3{
			width: 400px;
			height: 365px;
			background-position: left top;
			background-size: cover;
			background-image: url("../images/homepage/home-latest-3.jpg");
		}

		.fashion {
			color: $rose-pink;
		}

		.arts {
			color: $light-blue;
		}

		.travel {
			color: $green;
		}
	}	
}

.title {
	text-align: center;
	margin-top: 99px;
	text-transform: capitalize;

	p {
		margin-bottom: 34px;
	}

	h2 {
		color: $rose-pink;
		margin-bottom: 4px;
	}

}

.background {
	z-index: 1;

	&::before,
	&::after {
	position: absolute;
	  content: '';

	  left: -25%;
	  z-index: -1;
	  width: 150%;
	  
	  background: inherit;
	  -webkit-transform: rotate(20deg);
	  transform: rotate(20deg);
	  -webkit-transform-origin: 20% 0;
	  transform-origin: 20% 0;
	}

	&::before {
	  height: 213px;
	  top:1150px;
	  background: $yellow;
	  -webkit-transform: rotate(3deg);
	  transform: rotate(3deg);
	  -webkit-transform-origin: 30% 0;
	  transform-origin: 30% 0;
	}
	&::after {
	  height: 300px;
	  top:1296px;
	  background: #fff;
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	  -webkit-transform-origin: 0 0;
	  transform-origin: 0 0;
	}
}

.men {
	width: 1325px;
	margin: 0 auto;
	padding-top: 13px;
	z-index: 1;

	&::before,
	&::after {
	position: absolute;
	  content: '';

	  left: -25%;
	  z-index: -1;
	  width: 150%;
	  
	  background: inherit;
	  -webkit-transform: rotate(20deg);
	  transform: rotate(20deg);
	  -webkit-transform-origin: 20% 0;
	  transform-origin: 20% 0;
	}

	&::before {
	  height: 413px;
	  top:3333px;
	  background: $rose-pink;
	  -webkit-transform: rotate(-3deg);
	  transform: rotate(-3deg);
	  -webkit-transform-origin: 30% 0;
	  transform-origin: 30% 0;
	}
	&::after {
	  height: 300px;
	  top:3506px;
	  background: #fff;
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	  -webkit-transform-origin: 0 0;
	  transform-origin: 0 0;
	}

	.latest-men {
		display: flex;
		padding-bottom: 66px;

		.post-img1 {
			z-index: 1;
			width: 862px;
			height: 771px;
			background-repeat: no-repeat;
			background-size: cover;
			background-image: url("../images/homepage/home-best-dressed.jpg");

			.orange-post {
				width: 583px;
				height: 460px;
				position: relative;
				top: 157px;
				left: 140px;
				background-color: $orange;
				color: white;
				font-family: $playfair-font;

				a {	
					position: relative;
					top: 71px;
					left: 223px;
					text-decoration: none;
					text-transform: uppercase;
					color: white;
					text-align: center;
				}

				h2 {
					position: relative;
					top: 92px;
					font-size: 37px;
					text-align: center;
				}

				p {
					width: 375px;
					position: relative;
					top: 132px;
					left: 104px;
					text-align: center;
				}

				.gallery {
					position: relative;
					background-image: url("../images/assets/icon-gallery.svg");
					background-repeat: no-repeat;
					display: block;	
					background-size: contain;
					width: 110px;
					top: 163px;
					left: 228px;

					p {
						position: relative;
						left: 33px;
						top: 0;
						text-transform: none;
						text-align: left;
					}				
				}
			}

				button {
				position: relative;
				width: 103px;
				height: 40px;
				position: relative;
				float: right;
				top: 222px;
				left: -241px;
				text-align: left;
				color: white;
				background-image: url("../images/assets/icon-carret-white.svg");
				font-weight: 200;

				&:after {
					content: '';
					position: absolute;
					display: block;
					width: 405px;
					left: -239px;
					padding-top: 26px;
					z-index: 2;
					border-bottom: 1px solid white;
				}
			}
		}

	.right-post {
		margin-left: 63px;

			.post-img2,
			.post-img3 {
				width: 401px;
				height: 363px;
				display:block;
			}

			.post-img2 {
				background-repeat: no-repeat;
				margin-bottom: 45px;
				background-image: url("../images/homepage/home-latest-in-men-2.jpg");
			} 

			.post-img3 {
				position: relative;
				background-position: top center;
				background-repeat: no-repeat;
				background-image: url("../images/homepage/home-latest-in-men-1.jpg");
			} 
		}
	}
}