button {
	background-color: transparent;
	color: black;
	border: 0;
	background-image: url("../images/assets/icon-carret.svg");
	background-repeat: no-repeat;
	background-position: right;
	display: block;
	font-size: 17px;
	font-weight: 700;
	font-family: $playfair-font;
}