.to-eat {
	height: 708px;
	position: relative;
	color: white;
	display: flex;
	margin-bottom: 	103px;

	.food-img {
		flex: 46;
		background-repeat: no-repeat;
		background-position: bottom;
		background-size: cover;
		background-image: url("../images/homepage/home-food-for-tought.jpg");
	}

	.green-cont {
		flex: 54;
		background-color: $green;
		
		.gallery {
			position: relative;
			background-image: url("../images/assets/icon-gallery.svg");
			background-repeat: no-repeat;
			display: block;	
			background-size: contain;
			top: 257px;
			left: 293px;
			width: 110px;

			p {
				position: relative;
				left: 33px;
				top: 0;
				text-transform: none;
			}		
		}

		a {
			position: relative;
			text-decoration: none;
			color: white;
			text-transform: uppercase;
			top: 197px;
			left: 280px;
		}

		h2 {
			position: relative;
			font-weight: 400;
			left: 140px;
			top: 213px;
			margin-bottom: 21px;
			font-size: 40px;
		}

		p {
			width: 410px;
			position: relative;
			top: 220px;
			left: 140px;
			font-size: 15px;
		}

		button {
			position: relative;
			width: 103px;
			height: 40px;
			position: relative;
			float: right;
			top: 322px;
			left: -250px;
			text-align: left;
			color: white;
			background-image: url("../images/assets/icon-carret-white.svg");
			font-weight: 200;

			&:after {
				content: '';
				position: absolute;
				display: block;
				width: 405px;
				left: -246px;
				padding-top: 26px;
				z-index: 2;
				border-bottom: 1px solid white;
			}
		}
	}
}