.slider{
	
	.home-slide {
		height: 400px;
		background-image: url("../images/homepage/home-slide.jpg");
		background-size: 60%;
		background-repeat: no-repeat;
		margin: 0 auto;
	}

	h1 {
		float: right;
	}
}
