.slider {
	max-width: 1320px;
	margin: 0 auto;
	display: flex;

	.home-slide {
		position: relative;
		height: 575px;
		width: 980px;
		background-image: url("../images/homepage/home-slide.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}

	.slide-text {
		flex: 3;
		
		button{
			width: 141px;
			text-align: left;
			position: relative;
			top: 214px;
			left: 20px;

			&:after {
				content: '';
				position: absolute;
				display: block;
				width: 254px;
				left: -24px;
				padding-top: 26px;
				z-index: 2;
				border-bottom: 1px solid $light-pink;
			}
		}

		h2 {
			width: 353px;
			position: relative;
			display: inline-block;
			left: -166px;
			top: 166px;
			font-size: 39px;
		}

		a {
			position: relative;
			display: inline-block;
			left: -166px;
			top: 152px;
			margin-bottom: 0;
			padding-bottom: 0;
			text-decoration: none;
			color: $rose-pink;
			text-transform: uppercase;
		}
	}
}
