//Colors

$light-pink: #f4d5dd;
$rose-pink: #f81c7b;
$salmon-pink: #fd686d;
$light-blue: #37bd9f;

$white: #fff;
$black: #000;
$red: #d7253b;
$pink: #fcb7c9;
$yellow: #f8e71c;
$green: #688222;
$orange: #f5690a;

