footer {
	height: 504px;
	width: 1440px;
	background-color: rgba(black, 0.8);
	color: white;
	
	.all {
		display: flex;
		position: relative;
		top: 130px;
		width: 1325px;
		margin: 0 auto;
		left: 150px;

		.col-1,
		.col-2,
		.col-3 {
			flex: 1;
			margin: 0;

			h3 {
				padding-bottom: 25px;
			}

			ul {

				li {
					list-style-type: none;

					a {
						text-decoration: none;
						color: white;
					}
				}
			}
		}
	}	
}