.header-wrapper {
	padding-top: 30px;
	height: 86px;
	display: flex;

	nav {
		flex: 4;
		float: left;
		width: 50%;
		
		.menu-list {
			list-style: none;
			font-family: $playfair-font;
			display: flex;

			li {
				display: inline-block;
				text-align: left;
				flex: 1;


				a {
					text-decoration: none;
					color: $black;
					line-height: 35px;

					&:hover {
					 	color: $salmon-pink;

						&::after {
							content: "";
							display: block;
							border-bottom: 1px solid $salmon-pink;
							width: 52%;
							height: 8px;
						}
					}
				}
			}
		}
	}

	.logo {
		position: relative;
		flex: 0.5;
		display: flex;

		a {
			margin-top: -5px;
			position: absolute;
			left: 9px;
			width: 58px;
			height: 58px;
			background-image: url("../images/assets/logo.svg");
			background-repeat: no-repeat;
		}
	}

	.acc-menu-wrap {
		flex: 4;

		.account-menu {
			position: relative;
			float: right;
			list-style: none;
			font-family: $playfair-font;

			li {
				display: inline-block;
				text-align: right;

				&:last-child {
					margin-right: 13px;
				}


				div {
					display: inline-block;
				}

				a {
					text-decoration: none;
					color: $black;
					position: relative;
					top: -6px;
				}
			}

			.saved {
				background-image: url("../images/assets/icon-wishlist.svg");
				background-repeat: no-repeat;
				background-position: 0 5px;
				height: 30px;
				width: 30px;
				margin-right: 9px;
			}

			.account {
				background-image: url("../images/assets/icon-account.svg");
				background-repeat: no-repeat;
				background-position: 0 11px;
				height: 30px;
				width: 30px;
			}

			.cart {
				background-image: url("../images/assets/icon-cart.svg");
				background-repeat: no-repeat;
				background-position: 0 0;
				height: 30px;
				width: 30px;
				position: relative;
				top: 3px;
			}
		}
	}
}
